@page "/counter"

<PageTitle>Counter</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hello</h1>
    </Authorized>
    

    <NotAuthorized>
        <p>Big fat chunckes</p>
    </NotAuthorized>
</AuthorizeView>


@code {
   
}
